<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forget Password</h1>
    <form action="" method="post">
       
        <input type="password" name="password" id="password" required placeholder=" Password"><br><br>
        <input type="password" name="cpassword" id="password" required placeholder="Confirm Password"><br><br>
        <input type="hidden" name="user_id" value="<%=user_id%>">
        
        <input type="submit" value="Reset Password"> 
        
    </form>
</body>
</html>