<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{userdata.firstName userdata.lastName} profile</title>

</head>
<body>
    <div class="container">
        <div class="left-main">
            <img src="" alt=""> <br>

        </div>
        <div class="right-main">
            <div class="post">
                <h2>Post</h2>
                <h2>no.</h2>
            </div>
        </div>
        <div class="allpost">
            <div class="card">
                <img src="" alt="">
                
            </div>
        </div>
    </div>
</body>
</html>